.about-container {
  margin-top: 58px;
  ._background-image {
    background-size: contain;
    width: 100vw;
  }

  ._bio-photo {
    background-image: url("./src/assets/images/bioPhoto.jpg");
    background-size: cover;
    position: absolute;
    top: 24%;
    left: 1.5%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  ._bio-text:first-of-type {
    padding-top: 40px;
  }
  ._bio-text {
    padding: 15px 40px 0 40px;
    margin-bottom: 5px;
    line-height: 1.5;
  }
}
