.about-container {
  position: relative;

  ._background-image {
    background-size: contain;
    width: 100vw;
  }

  ._bio-photo {
    background-image: url("./src/assets/images/bioPhoto.jpg");
    background-size: cover;
    position: absolute;
    top: 7%;
    left: 4%;
    border-radius: 50%;
    height: 95px;
    width: 95px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}
