.images-header {
  padding-top: 58px;
}

.about-container {
  ._bio-text:first-of-type {
    padding-top: 40px;
  }
  ._bio-text {
    margin-bottom: 5px;
    line-height: 1.5;
  }
}

.profile-container {
  position: relative;
  width: 100vw;
  ._background-image {
    background-image: url("../src/assets/images/background.jpeg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-height: 275px;
  }

  ._bio-photo {
    background-image: url("./src/assets/images/bioPhoto.jpg");
    background-size: cover;
    position: absolute;
    bottom: -13%;
    left: 80px;
    transform: translate(-50%);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
}

@media (min-width: 700px) {
  .profile-container {
    ._background-image {
      min-height: 300px;
    }
    ._bio-photo {
      bottom: -10%;
      left: 95px;
      height: 150px;
      width: 150px;
    }
  }
}

@media (min-width: 1000px) {
  .profile-container {
    ._background-image {
      min-height: 390px;
    }
    ._bio-photo {
      bottom: -7%;
      left: 135px;
      height: 200px;
      width: 200px;
    }
  }
}

@media (min-width: 1500px) {
  .profile-container {
    ._background-image {
      min-height: 450px;
    }
    ._bio-photo {
      bottom: -9%;
      left: 300px;
      height: 200px;
      width: 200px;
    }
  }
}
