.section {
  padding-left: 35px;
}

.job-container {
  color: rgb(86, 82, 82);
  ._business {
    font-size: 1.5em;
  }
  ._job-name {
    font-size: 1.3em;
  }

  ._date {
    font-size: 1.1em;
  }

  ._description {
    font-size: 1em;
  }
}
