.header-container {
  padding: 20px;
  background-color: #006d77;

  & nav {
    padding: none;
  }

  & ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
  }

  & a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
