.header-container {
  padding: 20px;
  //   margin-bottom: 20px;

  & nav {
    padding: none;
  }

  & ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
  }

  & a {
    text-decoration: none;
  }
}
