.all-interests-container {
  display: flex;
  flex-wrap: wrap;
}

.interest-container {
  width: 100%;
  margin-top: 0;
  & img {
    width: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  ._description {
    width: 100%;
    font-size: 1em;
    // text-align: center;
  }

  & p {
    margin-top: 0.95em;
  }
}
.interest-container:first-of-type {
  margin-bottom: 15px;
}

@media (min-width: 500px) {
  .interest-container {
    width: 50%;
    padding: 10px;
  }
}

@media (min-width: 1000px) {
  .interest-container {
    padding: 20px;
  }
}
