.project-container {
  text-align: center;
  color: rgb(86, 82, 82);
  margin: 40px 0;
  ._project-images {
    margin-top: 1rem;
    max-width: 100%;
  }
  ._project-links {
    margin-top: 1rem;
  }
  & a {
    cursor: pointer;
    text-decoration: none;
    color: #e29578;
    font-weight: bold;
    border: 1px solid #e29578;
    padding: 5px;
    border-radius: 5px;
  }

  & a:first-of-type {
    margin-right: 5%;
  }

  & p {
    margin-top: 0.5rem;
  }
}

.project-container:first-of-type {
  margin-top: 0;
}

@media (min-width: 800px) {
  .project-container {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 80%;
  }
}

@media (min-width: 1000px) {
  .project-container {
    max-width: 90%;
    & p {
      max-width: 80%;
      font-size: 18px;
    }
  }
}

@media (min-width: 1500px) {
  .project-container {
    max-width: 80%;
    & p {
      max-width: 70%;
      font-size: 18px;
    }
  }
}
