@import "./_header.scss";
@import "./_about.scss";
@import "./_techSkills";
@import "./_experience";
@import "./_projects.scss";
@import "./contact.scss";
@import "./interests";

.section {
  margin-bottom: 20px;
  padding: 0 40px 0 40px;
}

.section:first-of-type {
  padding: 0;
}

.text {
  color: rgb(86, 82, 82);
  font-size: 17px;
}

.footer {
  font-size: 15px;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #006d77;
}

h2 {
  font-size: 2rem;
}

h3 {
  padding: 5px 0;
}

@media (min-width: 700px) {
  .section {
    padding: 0 70px 0 70px;
  }
}

@media (min-width: 1000px) {
  .section {
    width: 90%;
  }

  .text {
    font-size: 18px;
  }
}

@media (min-width: 1500px) {
  .section {
    width: 70%;
  }

  .text {
    font-size: 18px;
  }
}
